<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteTitle}}</title>
    <link rel="StyleSheet"  href="./res/css/index.css">
</head>
<body>
    </script>
    <img src="./res/images/logo.png" alt="">
    <h1>欢迎来到开课吧</h1>

    <hr>
    <ul>
        {%for link in links%}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {%endfor%}
    </ul>
    <!-- <script>import Dialog, { InputDialog } from "./res/js/Dialog.js"</script> -->
</body>
</html>