<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{siteTitle}} - 新闻详情</title>
    <link rel="StyleSheet"  href="./res/css/news-detail.css">
</head>
<body>
    <div class="text">
        <h1 class="title">{{data.title}}</h1>
        <div class="article-info"> {{data.from}} 时间：{{data.newTime}}</div>
        <p class="content">
            <img src="{{data.imgUrl}}" alt=""/>
            {{data.title}}
        </p>
    </div>
</body>
</html>