<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteTitle}}</title>
    <link rel="StyleSheet"  href="./res/css/index.css">
</head>
<body>
    </script>
    <img src="./res/images/logo.png" alt="">
    <h1>Node.JS作业提交</h1>
    <hr>
    <ul>
        {% for link in homepage %}
            {% if link.url %}
            <li><a href="{{link.url}}">{{link.title}}</a></li>
            {% else %}
            <h2>{{link.title}}</h2>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- <script>import Dialog, { InputDialog } from "./res/js/Dialog.js"</script> -->
</body>
</html>