<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{docTitle}}</title>
    <link rel="StyleSheet"  href="./res/css/index.css">
</head>
<body>
    <h1>欢迎来到开课吧</h1>
    <img src="./res/images/logo.png" alt="">
    <script src="./res/js/index.js"></script>
    <hr>
    <ul>
        {%for link in links%}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {%endfor%}
    </ul>
</body>
</html>